# Vagrant environment
.vagrant/

# Build artifacts
build/
iso_dir/
*.iso
*.bin

# Editor and OS files
*.swp
*.swx
*.DS_Store
.vscode/
.idea/

# Logs and temp files
*.log
tmp/

# Shell scripts
run_vm.sh
